<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/index">Travel Experts</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <form class="form-inline mt-2 mt-md-0" action="/login_form" method="post">
                        <input class="form-control mr-sm-2" type="text" placeholder="Email" aria-label="Email"
                               name="CustEmail" id="emailhide">
                        <input class="form-control mr-sm-2" type="password" placeholder="Password"
                               aria-label="Password" name="CustPassword" id="passhide">
                        <button class="btn btn-outline-success my-2 my-sm-0 show" type="submit" id="show">Login</button>
                        <button class="btn btn-outline-success my-2 my-sm-0 hide" type="submit" formaction="/logout_form" id="hide">Logout</button>
                    </form>
                </li>
                <li class="nav-item">@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="nav-item">@Html.ActionLink("Contact Us", "ContactUs", "Home")</li>
                <li class="nav-item">@Html.ActionLink("Vacation Packages", "Packages", "Home")</li>
                <li class="nav-item">@Html.ActionLink("Register Now", "Register", "Home")</li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
