@model IEnumerable<ThreadedProject_Workshop5.Models.DBEntities.Agents>
    


@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>



<div class=" = row">
    @foreach (var item in Model)
    {


        <div class="col-4">
            <div class="card" style="width: 18rem;height:550px;">
                <img class="card-img-top" src="~/Images/People/@Html.DisplayFor(modelItem => item.AgtImage)" alt="@Html.DisplayFor(modelItem => item.AgtFirstName)" />
                <div class="card-body">
                   
                        <h4 class="card-title">@Html.DisplayFor(modelItem => item.AgtFirstName) @Html.DisplayFor(modelItem => item.AgtMiddleInitial) @Html.DisplayFor(modelItem => item.AgtLastName)  </h4>
                    
                        <h5 class="card-text">@Html.DisplayFor(modelItem => item.AgtPosition)</h5>
                    
                    <hr />
                    <abbr title="Phone">P:</abbr><a href="tel:@Html.DisplayFor(modelItem => item.AgtBusPhone)">@Html.DisplayFor(modelItem => item.AgtBusPhone)</a>
                    <abbr title="Email">E:</abbr><a href="mailto:@Html.DisplayFor(modelItem => item.AgtEmail)">@Html.DisplayFor(modelItem => item.AgtEmail)</a>
                   
                    <h6></h6>
                </div>
            </div>
        </div>



    }
</div>