@model IEnumerable<ThreadedProject_Workshop5.Models.TravelPackage>

@{
    ViewBag.Title = "Packages";
}

<h2>Packages</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PackageID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PkgName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PkgStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PkgEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PkgDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PkgBasePrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PackageID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PkgName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PkgStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PkgEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PkgDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PkgBasePrice)
        </td>
        <td>
            @Html.ActionLink("Book Now", "Booking", new { id = item.PackageID })
        </td>
    </tr>
}

</table>
