<<<<<<< HEAD
﻿<div class="container-fluid jumbotron pt-50 jumbo-bg fill">

    <div class="section jumbotron see-through col-md-6">
        <!-- Section div -->
        <form id="regForm" method="post" action="/post_form" target="_self" class="display-7 font-weight-bold">
            <div class="form-row">
                <div class="form-group col-6">
                    <label for="firstname">*First Name</label>
                    <input type="text" class="form-control" id="firstname" placeholder="First Name" name="firstname"
                           onblur="if(this.value != ''){this.style.backgroundColor = ''}else{this.style.backgroundColor = '#f0cccc'};">
                </div>
                <div class="form-group col-6">
                    <label for="lastname">*Last Name</label>
                    <input type="text" class="form-control" id="lastname" placeholder="Last Name" name="lastname"
                           onblur="if(this.value != ''){this.style.backgroundColor = ''}else{this.style.backgroundColor = '#f0cccc'};">
                </div>
            </div>
            <div class="form-row ">
                <div class="form-group col">
                    <label for="inputAddress">*Address</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St"
                           name="address"
                           onblur="if(this.value != ''){this.style.backgroundColor = ''}else{this.style.backgroundColor = '#f0cccc'};">
                </div>
            </div>
            <div class="form-row ">
                <div class="form-group col">
                    <label for="inputAddress2">Address 2</label>
                    <input type="text" class="form-control" id="inputAddress2"
                           placeholder="Apartment, studio, or floor" name="address2">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6 col-xs-2">
                    <label for="inputCity">*City</label>
                    <input type="text" class="form-control" placeholder="City or Town" id="inputCity" name="city"
                           onblur="if(this.value != ''){this.style.backgroundColor = ''}else{this.style.backgroundColor = '#f0cccc'};">
                </div>
                <div class="form-group col-sm-4 col-xs-2">
                    <label for="inputprov">*Prov</label>
                    <select id="inputprov" class="form-control" name="prov"
                            onblur="if(this.value != ''){this.style.backgroundColor = ''}else{this.style.backgroundColor = '#f0cccc'};">
                        <option value="" hidden>Please Select</option>
                        <option value="AB">Alberta</option>
                        <option value="BC">British Columbia</option>
                        <option value="MB">Manitoba</option>
                        <option value="NB">New Brunswick</option>
                        <option value="NL">Newfoundland and Labrador</option>
                        <option value="NS">Nova Scotia</option>
                        <option value="ON">Ontario</option>
                        <option value="PE">Prince Edward Island</option>
                        <option value="QC">Quebec</option>
                        <option value="SK">Saskatchewan</option>
                        <option value="NT">Northwest Territories</option>
                        <option value="NU">Nunavut</option>
                        <option value="YT">Yukon</option>
                    </select>
                </div>
                <div class="form-group col-sm-2 col-xs-1">
                    <label for="inputpostal">*Postal Code</label>
                    <input type="text" class="form-control" placeholder="P0S T4L" id="inputpostal" name=" postal"
                           onblur="if(fnValidatePostal(this.value)){this.style.backgroundColor = ''}else{this.style.backgroundColor = '#f0cccc'};">

                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-6">
                    <label for="homephone">Home Phone</label>
                    <input type="text" class="form-control" id="homephone" placeholder="(403)555-5555"
                           name="homephone"
                           onblur="if(this.value != ''){this.style.backgroundColor = ''}else{this.style.backgroundColor = '#f0cccc'};">
                </div>
                <div class="form-group col-6">
                    <label for="busphone">Business Phone</label>
                    <input type="text" class="form-control" id="busphone" placeholder="(403)555-5555"
                           name="busphone"
                           onblur="if(this.value != ''){this.style.backgroundColor = ''}else{this.style.backgroundColor = '#f0cccc'};">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-6">
                    <label for="inputEmail4">*Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="email">
                </div>
                <div class="form-group col-6">
                    <label for="inputPassword4">*Password</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Password"
                           name="password">
                </div>
            </div>
            @Html.ActionLink("Submit", "RegSubmit", "Home", new { @class = "btn btn-success" })
            @Html.ActionLink("Clear", "Register", "Home", new { @class = "btn btn-danger" })
        </form>
    </div> <!-- Section div -->
</div><!-- Main div-->
=======
﻿@model ThreadedProject_Workshop5.Models.DBEntities.Pure_Objects.Customers

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Customers</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @*   @Html.LabelFor(model => model.CustomerID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CustomerID, "", new { @class = "text-danger" })
            </div>*@
    </div>
    <div class="row">
        <div class="col-3"><!--EMPTY--></div>

        <div class="col-3">
            <div class="form-group">
                <h6>&ensp;First Name</h6>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CustFirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustFirstName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h6>&ensp;Last Name</h6>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CustLastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustLastName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h6>&ensp;Address</h6>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CustAddress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustAddress, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h6>&ensp;City</h6>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CustCity, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustCity, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h6>&ensp;Province</h6>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CustProv, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustProv, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h6>&ensp;Postal Code</h6>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CustPostal, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustPostal, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h6>&ensp;Country</h6>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CustCountry, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustCountry, "", new { @class = "text-danger" })
                </div>
            </div>

            
        </div><!--COL-->
        <div class="col-3">
            <div class="form-group">
                <h6>&ensp;Home Phone</h6>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CustHomePhone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustHomePhone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h6>&ensp;Buisness Phone</h6>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CustBusPhone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustBusPhone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h6>&ensp;Email</h6>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CustEmail, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustEmail, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <h6>&ensp;UserName</h6>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CustUserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustUserName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h6>&ensp;Password</h6>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CustPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div><!--COL END-->
    <div class="col-3"><!--EMPTY--></div>
</div>@*ROW END*@
    }


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
>>>>>>> parent of 20ec507... Working on registration
